
      <div class="container">
        <div class="row-fluid">
          <div class="span2">
            <p class="copy">&copy; <%= Time.now.strftime("%Y") %> <%= data.site.title %></p>
          </div>
          <div class="span7">
            <p class="disclaimer">
              The nutrition therapy provided by Planted Nutrition is not intended as a diagnosis, treatment, prescription or cure for any disease and is not intended as a substitute for regular medical care.
            </p>
          </div>
        </div>
      </div>
