
    <h1>
      <a href="/">
        Planted Nutrition
      </a>
    </h1>
    <nav class="container">
      <ul class="row">
        <li class="span2">
          <a href="/#about">
            About
          </a>
        </li>
        <li class="span2">
          <a href="/#services">
            Services
          </a>
        </li>
        <li class="span2 offset4">
          <a href="/#nutrition-therapy">
            Nutrition Therapy
          </a>
        </li>
        <li class="span2">
          <a href="/#contact">
            Contact
          </a>
        </li>
      </ul>
    </nav>
