  <section class="tagline">
    <div class="container">
      <p>
        Real / Whole / Delicious
      </p>
    </div>
  </section>

  <div class="decor"></div>

  <div class="container">

  <section id="about" class="content">
    <div class="container">
      <div class="row-fluid">

      
        <article class="span9">
          <h3>About Planted Nutrition</h3>
            <p><strong>Planted Nutrition is a nutrition therapy practice that helps women choose real, delicious whole foods that support happiness and health.</strong></p>

            <p>Planted Nutrition is owned and operated by Ellen Teig, a nutrition therapist in Boulder, Colorado. As a nutrition therapist, Ellen works with women to help them achieve and maintain their nutrition and health goals by making smart, mindful food choices.</p>

<p>Ellen loves connecting with people over good food. When she is not working with clients, Ellen enjoys growing food in her backyard, dancing in the kitchen, sitting on front porch swings, riding her bike to the library, and sharing tasty meals with family and friends.</p>

<p>Previous to her work as a nutrition therapist, Ellen managed women’s health programs and public health research projects in clinical and academic settings.</p>

          <div>
          <p><strong>Planted Nutrition helps women...</strong></p>
          <ul>
            <li>Increase their energy,</li>
            <li>Reduce food cravings,</li>
            <li>Prepare foods for food intolerances and allergies,</li>
            <li>Balance their hormones,</li>
            <li>Address menstrual cycle issues,</li>
            <li>Enhance their fertility, and</li>
            <li>Learn what is best to eat during different stages of life, such as prenatal, postpartum, and menopause.</li>
          </ul>
          </div>
        </article>

        <figure class="span3">
          <img src="/images/ellen.jpg">
          <figcaption>Ellen received her Master Nutrition Therapy degree from the Nutrition Therapy Institute in Denver, Colorado. She has a Master of Public Health degree from the University of Colorado.</figcaption>
        </figure>
      </div>
    </div>
  </section>

  <section id="services" class="content">
    <div class="container">
      <div class="row-fluid">
        <h3 class="span2">Services</h3>
        <article class="span10">
          <p>Planted Nutrition works with women to develop individualized nutrition and health plans. Specific services include one-on-one and group sessions to:</p>
          <ul>
            <li>Define health goals and recommend methods for meeting those goals
            <li>Analyze dietary habits and address nutritional gaps</li>
            <li>Create menu plans full of delicious, whole foods tailored to individual health needs</li>
            <li>Identify the personal triggers that lead to making mindless food choices, such as emotions or social pressures</li>
            <li>Offer practical tools for meal planning, grocery shopping, and pantry organization</li>
          </ul>
        </article>
      </div>
    </div>
  </section>

  <section id="nutrition-therapy" class="content">
    <div class="container">
      <div class="row-fluid">
        <figure class="span7 row-fluid">
          <img src="/images/carrots1.jpg" class="span6" />
          <img src="/images/carrots2.jpg" class="span6 second-carrot" />
        </figure>
        <article class="span5">
          <h3>Nutrition Therapy</h3>
          <p>
            Nutrition therapy is the practice of establishing healthy food and lifestyle habits in order to obtain optimal health and wellness. It is founded on the idea that <strong>better health is possible through better nutrition</strong>.  Nutrition therapy also takes a holistic, in-depth look at personal relationships to food and the body and how these relationships are connected to health.  
          </p>
        </article>
      </div>
    </div>
  </section>

  <section id="contact" class="content">
    <div class="container">
      <div class="row-fluid">
        <article class="span6">
          <h3>Contact Planted Nutrition</h3>
          <p>Ellen sees clients in-person in the Boulder, Colorado area. She also provides phone or video consults for those who live outside of Boulder, and e-mail support for clients who desire more frequent contact.</p>

          <p>Fill out this form to set up a free 15-minute phone consultation to discuss your needs and how Planted Nutrition can help you reach your nutrition and wellness goals.</p>
        </article>

        <script type="text/javascript">var submitted=false;</script>

        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='/thanks';}"></iframe>

        <form class="span6 contact-form" action="https://docs.google.com/a/dojo4.com/spreadsheet/formResponse?formkey=dG1GckFCeUtCZDRYekVXUkpUVG5GckE6MQ&amp;embedded=true&amp;ifq" method="post" target="hidden_iframe" onsubmit="submitted=true;">

        <fieldset>
          <div class="errorbox-good">
          <div class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_0">First Name
          <span class="ss-required-asterisk">*</span></label>
          <label class="ss-q-help" for="entry_0"></label>
          <input type="text" name="entry.0.single" value="" class="ss-q-short" id="entry_0"></div></div></div>

          <div class="errorbox-good">
          <div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_4">Last Name
          </label>
          <label class="ss-q-help" for="entry_4"></label>
          <input type="text" name="entry.4.single" value="" class="ss-q-short" id="entry_4"></div></div></div>

          <div class="errorbox-good">
          <div class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_1">Email address
          <span class="ss-required-asterisk">*</span></label>
          <label class="ss-q-help" for="entry_1"></label>
          <input type="text" name="entry.1.single" value="" class="ss-q-short" id="entry_1"></div></div></div>

          <div class="errorbox-good">
          <div class="ss-item  ss-item-required ss-select"><div class="ss-form-entry"><label class="ss-q-title" for="entry_5">How can we help?<span class="ss-required-asterisk">*</span>
          </label>
          <label class="ss-q-help" for="entry_5"></label>
          <select name="entry.5.single" id="entry_5"><option value="Set up a consultation">Set up a consultation</option> <option value="General inquiry">General inquiry</option></select></div></div></div>

          <div class="errorbox-good">
          <div class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_2">Message
          <span class="ss-required-asterisk">*</span></label>
          <label class="ss-q-help" for="entry_2"></label>
          <textarea name="entry.2.single" rows="8" cols="75" class="ss-q-long" id="entry_2"></textarea></div></div></div>
          
          <div class="errorbox-good">
          <div class="ss-item ss-item-required ss-checkbox">
            <label class="ss-choice-label">Add me to your mailing list?<span class="ss-required-asterisk">*</span><input type="checkbox" name="entry.3.group" checked value="Yes" class="ss-q-checkbox" id="group_3_1">
            </label>
          </div></div>

          <input type="hidden" name="pageNumber" value="0">
          <input type="hidden" name="backupCache" value="">
        </fieldset>

        <div class="ss-item ss-navigate"><div class="ss-form-entry">
        <input type="submit" name="submit" value="Submit"></div></div>
        </form>


      </div>
    </div>
  </section>


  </div>
